<div class="container">
    <div class="row"> 
        <center>
        <h3>Registration for the BioCAsia 2024 conference is managed through the <a href="https://www.abacbs.org/conference2024/registration" target="_blank">ABACBS conference</a></h3><br>
        <h4 style="color: red;"> BioCAsia 2024 will be held in Sydney, Australia</h4>
        <p style="color: gray; text-align: justify; font-size: 17px; line-height: 2;">
            </b></br>
            The 2024 Bioconductor Asia conference aims to bring together researchers and scientists to exchange scientific knowledge and foster collaboration within the bioinformatics community both across the Asia-Pacific region and globally. The conference will also offer a series of hands-on workshops on R and Bioconductor, aimed at advancing education and training in computational biomedical sciences. 
        </p>
        </center>
    </div>

    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4></br>Key dates:<br><br></h4></th>
            </tr>
            <tr>
                <td>
                    <style>
                        ul.event-list li {
                            margin-bottom: 20px; font-size: 16px; /* Adjust the value as needed */
                        }
                    </style>
                    <ul class="event-list">
                        <li><b>July 24, 2024</b>: Call for <a href="https://forms.office.com/r/ZzXAnaTpDV" target="_blank">Talks</a>, <a href="https://forms.office.com/r/60SPeimHw4" target="_blank">Workshops</a> and <a href="https://forms.office.com/r/ST13XfQiHz" target="_blank">Travel awards</a> open</li>
                        <li><s><b>August 19, 2024</b>: Call for Talks, Workshops and Travel awards close</s></li>
                        <li><b>August 26, 2024</b>: Deadlines extended for Talks and Workshops</li>
                        <li><b>September 30, 2024</b>: Notification of abstract decision</li>
                        <li><b>Nov 7-8, 2024</b>: The BioCAsia 2024 conference</li>
                        <br>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <!-- Full-width section for Keynote Speakers -->
    <div style="width: 100%; background-color: rgb(225, 238, 240); padding: 20px 0;">
        <div class="container">
            <h4>Invited speakers</h4><br><br>
            <div class="row" style="margin: 0; display: flex; justify-content: space-evenly;">
                <div class="col-md-3" style="text-align:center; margin-bottom: 20px;">
                    <img src="../img/speakers/DavideRisso.jpeg" alt="Speaker 1" style="width:150px;height:150px;display:block;margin:auto;">
                    <br>
                    <b><a href="https://drisso.github.io">Assoc. Prof. Davide Risso</a></b>
                    <br>
                    <p> Department of Statistical Sciences<br>
                        University of Padova<br>
                        Italy
                    </p>
                </div>
                <div class="col-md-3" style="text-align:center; margin-bottom: 20px;">
                    <img src="../img/speakers/BelindaPhipson.png" alt="Speaker 2" style="width:150px;height:150px;display:block;margin:auto;">
                    <br>
                    <b><a href="https://www.wehi.edu.au/researcher/belinda-phipson/">Dr. Belinda Phipson</a></b>
                    <br>
                    <p>
                        Walter and Eliza Hall Institute of Medical Research<br>
                        The University of Melbourne<br>
                        Australia
                    </p>
                    <!-- <p>Harvard University</p> -->
                </div>
                <!-- <div class="col-md-3" style="text-align:center; margin-bottom: 20px;">
                    <img src="../img/organizers/Placeholder.jpeg" alt="Speaker 2" style="width:150px;height:150px;display:block;margin:auto;">
                    <br>
                    <b>To be confirmed</b>
                    <br>
                    <p>Harvard University</p>
                </div> -->
            </div>
        </div>
    </div>
    <br><br>
</div>
